<article class="recipe-card">
  <h2>{{ .Title }}</h2>
  {{ if or (isset .Params "preptime") (or (isset .Params "cooktime") (isset .Params "yield"))}}
  <p>
    {{- $fields := slice -}}
    {{- $fields = $fields | append (cond (isset .Params "preptime") (print "Prep Time: " (replace (lower .Params.prepTime) " " "")) slice)}}
    {{- $fields = $fields | append (cond (isset .Params "cooktime") (print "Cook Time: " (replace (lower .Params.cookTime) " " "")) slice)}}
    {{- $fields = $fields | append (cond (isset .Params "totaltime") (print "Total Time: " (replace (lower .Params.totalTime) " " "")) slice)}}
    {{- $fields = $fields | append (cond (isset .Params "yield") (print "Yield: " .Params.yield) slice)}}
    {{ delimit $fields " - "}}
  </p>
  {{ end }}
  <h3>Ingredients</h3>
  <ul>
    {{ with .Params.ingredients }}
      {{ range . }}
        <li>{{ . }}</li>
      {{ end }}
    {{ end }}
  </ul>
  <h3>Instructions</h3>
  <ol>
    {{ with .Params.instructions }}
      {{ range . }}
        <li>{{ . }}</li>
      {{ end }}
    {{ end }}
  </ol>
</article>