{{ $dest := (cond (strings.HasPrefix .Destination "http") .Destination (cond (strings.HasPrefix .Destination "/") (replace .Destination "/amp/" "/") (replace (printf "%s%s" .Page.RelPermalink .Destination) "/amp/" "/"))) }}
{{ if ne .Title "" }}
<figure class="amp-figure">
  <div class="amp-img-container">
    <amp-img
      alt="{{.Text}}"
      layout="fill"
      src="{{ $dest | safeURL }}"
    >
      <noscript>
          <img src="{{ $dest | safeURL }}" alt="{{.Text}}" />
      </noscript>
    </amp-img>
  </div>
  <figcaption>
    <p>{{ .Title }}</p>
  </figcaption>
</figure>
{{ else }}
<amp-img
  alt="{{.Text}}"
  layout="fill"
  src="{{ $dest | safeURL }}"
>
  <noscript>
      <img src="{{ $dest | safeURL }}" alt="{{.Text}}" />
  </noscript>
</amp-img>
{{ end }}