<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hakimel/reveal.js@4.0.2/dist/reveal.css" integrity="sha256-OWr5jOD/+jQ8RNY8AMq6roTecqWgiY+6+sACxqu6UyI=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/gh/hakimel/reveal.js@4.0.2/dist/reveal.js" integrity="sha256-vl+1S/dm6/at2A+8NXuO6B4pqIhAm5sd8BHUyFkKFnQ=" crossorigin="anonymous"></script><script>
  window.addEventListener('load', () => {
    Reveal.initialize({
      embedded: true,
      height: 720,
      margin: 0,
      width: 1280
    });
  });
</script>