<article class="article-list">
    <a href="{{.RelPermalink}}">
        <h2>{{.Title}}</h2>
        {{ if ge (len (.Resources.ByType "image")) 1}}
            <div class="list-image">
                <img src="{{ ((index (.Resources.ByType "image") 0).Fit "200x200").RelPermalink }}" alt="" />
            </div>
        {{ end }}
        <p>
            {{- .Summary | plainify | safeHTML -}}
        </p>
        <p>
            ({{.Date.Format "2 Jan, 2006"}} - {{.ReadingTime}} min)
        </p>
    </a>
</article>
