<!DOCTYPE html>
<html amp lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "layout/head.amp.html" . -}}
        {{- block "jsonld" . }}
            {{- partial "seo-jsonld.html" . -}}
        {{- end }}
        {{- block "pageHead" . }}{{- end }}
    </head>
    <body>
        {{- partial "layout/header.amp.html" . -}}
        <main class="container">
            {{- block "main" . }}{{- end }}
        </main>
        {{- block "aside" . }}{{- end }}
        {{- partial "layout/footer.html" . -}}
    </body>
</html>
