<!DOCTYPE html>
<html amp lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "layout/head.amp.html" . }}
        <script type="application/ld+json">
        {{- block "jsonld" . -}}
            {{ partial "schema-jsonld" (dict "schema" "recipe" "page" .) | safeJS }}
        {{- end -}}
        </script>
        {{- with . -}}
            {{/* Create a new scope level */}}
            {{- $page := . -}}
            {{- range $lib := (union (.Site.Params.libs) (.Param "libs")) }}
                {{ partial (printf "vis/%s.html" $lib) $page }}
            {{- end -}}
        {{- end -}}
        {{- range .Resources.Match "*.css" }}
            <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{- end -}}
        {{- block "pageHead" . }}{{- end }}
    </head>
    <body>
        {{- partial "layout/header.amp.html" . -}}
        <main class="container">
            {{- block "main" . }}{{- end }}
        </main>
        {{- block "aside" . }}{{- end }}
        {{- partial "layout/footer.html" . -}}
    </body>
</html>
