<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "layout/head.html" . }}
        <script type="application/ld+json">
        {{- block "jsonld" . -}}
            {{ partial "schema-jsonld" (dict "schema" "webpage" "page" .) | safeJS }}
        {{- end -}}
        </script>
        {{- with (union (.Site.Params.libs) (.Param "libs")) }}
        {{- range . }}
            {{ partial (printf "vis/%s.html" .) }}
        {{- end -}}
        {{- end -}}
        {{- range .Resources.Match "*.css" }}
            <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{- end -}}
        {{- block "pageHead" . }}{{- end }}
    </head>
    <body>
        {{- partial "layout/header.html" . -}}
        <main class="container">
            {{- block "main" . }}{{- end }}
        </main>
        {{- block "aside" . }}{{- end }}
        {{- partial "layout/footer.html" . -}}
    </body>
</html>
