<article class="article-list">
    <a href="{{.Permalink}}">
        <h2>{{.Title}}</h2>
        {{ $img := first 1 (.Resources.ByType "image") }}
        {{ range $img }}
            {{ with .Fill "200x200" }}
                <img src="{{ .RelPermalink }}">
            {{ end }}
        {{ end }}
        <p>
            {{- .Summary | plainify | safeHTML -}}
        </p>
        {{- with .Date -}}
        <p>
            ({{.Format "2 Jan, 2006"}})
        </p>
        {{- end -}}
    </a>
</article>
