{{ define "main" }}
    <h1>{{.Title}}</h1>
    {{ .Content }}
    {{ with .Sections }}
    <h2>Subsections</h2>
    <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
    <h2>Latest Posts</h2>
    {{ range (.Paginate .RegularPagesRecursive).Pages }}
        {{ .Render "li" }}
    {{ else }}
        <p>No content here :(</p>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
{{ end }}
{{ define "jsonld" }}{{ partial "schema-jsonld" (dict "schema" "itemlist" "page" .) | safeJS }}{{ end }}
