{{ $ld := dict "@type" "Recipe" "description" (.Summary | plainify | chomp) "name" .Title "recipeIngredient" .Params.ingredients "recipeInstructions" .Params.instructions }}
{{ $ld = merge $ld (cond (isset .Params "cooktime") (dict "cookTime" (print "PT" (replace (upper .Params.cookTime) " " ""))) dict) }}
{{ with .Date }}{{ $ld = merge $ld (dict "datePublished" (.Format "2006-01-02")) }}{{ end }}
{{ $ld = merge $ld (cond (ge (len (.Resources.ByType "image")) 1) (dict "image" (replace ((index (.Resources.ByType "image") 0).Permalink) "/amp/" "/")) dict) }}
{{ $ld = merge $ld (cond (isset .Params "preptime") (dict "prepTime" (print "PT" (replace (upper .Params.prepTime) " " ""))) dict) }}
{{ $ld = merge $ld (cond (isset .Params "totaltime") (dict "totalTime" (print "PT" (replace (upper .Params.totalTime) " " ""))) dict) }}
{{ $ld = merge $ld (cond (isset .Params "yield") (dict "recipeYield" .Params.yield) dict) }}
{{ $ld = merge $ld (dict "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)) }}
{{ return $ld }}