@import "variables.scss";


// Header & Nav
header {
    transition: height 0.5s;
}
nav {
    .nav-links {
        display: none;
    }

    &.active .nav-links {
        background: $background-color;
        display: flex;
        flex-direction: column;
        margin-left: -$responsive-gap;
        padding-left: $responsive-gap;
        padding-right: $responsive-gap;
        position: fixed;
        top: 50px;
        width: 100%;
    }

    .nav-toggle-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;

        .nav-toggle {
            height: 32px;
            width: 32px;
            
            &::before {
                content: '\1D118';
                left: 4px;
                position: relative;
                top: -6px;
            }
        }
    }
}
@media screen and (min-width: $responsive-breakpoint) {
    nav {
        .nav-links {
            display: flex;
            flex-direction: row;
        }

        .nav-toggle-wrapper {
            display: none;
        }
    }
}
@media print {
    nav {
        .nav-links, .nav-toggle-wrapper {
            display: none;
        }
    }
}

// List link blocks
.article-list > a, a.list-link, .taxonomy-list > a, a.list-link {
    clear: both;
    color: $font-color;
    display: block;
    margin-bottom: 1.6em;
    text-decoration: none;
    width: 100%;

    &:hover {
        text-decoration: none;
    }

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }

    p:last-child {
        font-size: 0.9em;
    }

    .list-image img {
        max-height: 200px;
        max-width: 200px;
    }

    @media screen and (min-width: $responsive-breakpoint) {
        .list-image {
            float: left;
            margin-right: 1em;
            max-height: 200px;
            position: relative;
            width: 200px;

            img {
                object-fit: contain;
            }
        }
    }
}

// Block/Card-like
.fw-block {
    display: block;
    padding: 0 1.5em;
    width: 100%;
}

// Pagination
.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 5px;

    .page-item {
        border-right: none;
        display: block;

        .page-link, & > span {
            display: block;
            padding: 0.15em 0.5em;
            text-decoration: none;
        }
    }
}
@media print {
    .pagination {
        display: none;
    }
}

// Figures/Images
img {
    display: block;
    margin: 0 auto;
    max-height: 400px;
}
figure {
    display: block;
    margin: 15px auto;
    max-width: 100%;
    text-align: center;

    &.amp-figure {

        .amp-img-container {
            position: relative;
            height: 400px;
            width: 100%;

            amp-img img {
                object-fit: contain;
            }
        }
    }

    figcaption {
        clear: both;
        font-size: smaller;
        margin: 0 1.2em;

        p {
            margin: 0.5em 0 0 0;
        }

        a, a:link, a:hover, a:active, a:visited {
            color: $font-color;
            display: inline-block;
            text-decoration: underline;

            &::before {
                content: '(Source: ';
            }

            &::after {
                content: ')';
            }
        }
    }
}

// https://css-tricks.com/piecing-together-approaches-for-a-css-masonry-layout/
// https://stackoverflow.com/questions/30330845/flexbox-image-scale-to-height-and-keep-aspect-ratio#30332885
.album-image-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 1em 0;

    div, a, amp-img {
        cursor: pointer;
        flex: 0 0 auto;
        margin: 5px 2px;
        max-width: 100%;
        padding: 0;

        img {
            display: block;
            max-height: 210px;
            max-width: 100%;
            object-fit: contain;
        }
    }
}
.list-album-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;

    gap: 0.5em;
    margin: 1em 0;
    padding: 0;

    div, a {
        flex: 0 0 auto;
        max-width: 200px;
        width: initial;

        img {
            display: block;
        }
    }
}

// Visualization placeholder
#do-vis-here:empty::before {
    content: 'Loading...';
}

// Mermaid fix (force scale down)
.mermaid>svg {
    max-width: 100%;
    height: unset;
}

// Recipe Cards (from front matter)
.recipe-card {
    border: 1px solid $font-color;
    margin-top: 1em;
    padding: 1em;

    &>h2 {
        margin-top: 0;
    }

    &>:last-child {
        margin-bottom: 0;
    }
}

.btn {
    background: $background-color-inverse;
    border: 1px solid $background-color-inverse;
    border-radius: 10px;
    color: $font-color-inverse;
    display: inline-block;
    font-size: small;
    margin-left: 8px;
    padding: 0.25em 0.5em;

    &.btn-inverse {
        background: $background-color;
        border: 1px solid $background-color-inverse;
        color: $font-color;
    }
}

// Slide embeds
// Adapted from Bootstrap resposive embeds (16x9)
// https://github.com/twbs/bootstrap/blob/v4.5.0/scss/utilities/_embed.scss
.slide-deck {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    &::before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }

    amp-carousel, .reveal {
        background-color: $background-color-code;
        border: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    amp-carousel section {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;

        div {
            display: inline-block;
            vertical-align: middle;

            :first-child {
                margin-top: 0;
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}